GPU=false

MESHWORK_BIND_ADDR=127.0.0.1

BLENDER_GRPC_PORT=50051
COLMAP_GRPC_PORT=50052
ALICEVISION_GRPC_PORT=50053

CUDA_VERSION=11.8.0
COLMAP_TAG=latest
ALICEVISION_TAG=3.2.0-ubuntu20.04-cuda11.3.1

UDS_ONLY=false
